<!DOCTYPE html>
<html>
  <head>
    <title>OdinRestTester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <h2>I am above yield!</h2>
    <%= yield %>
    <h2>I am below yield!</h2>
  </body>
</html>
